*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    max-width: 800px;
    margin: auto;
    padding: 50px;
}
.form_main{
    border: 1px solid  rgba(86,148,255,0.45);
    padding: 15px;
    border-top: none;
}
.advertising{
    border: 1px solid  rgba(86,148,255,0.45);
    min-height: 100px;
    position: relative;
    padding: 15px;
    background-color: #ebf5ff;
    border-bottom: none;

}
.arrow_container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.banner_one{
    margin-left: 50px;
}
.banner{
    color: #e00;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 60px;
}
.banner+p{
    color: #e00;
}
.banner_two{
    margin-right: 100px;
    position: relative;
}
.btn_order{
    position: absolute;
    right: -80px;
    top: 50px;
    color: #3690d0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 15px;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 3px;
    background: rgba(49,157,169,0.06);

}
.btn_order:hover,
.btn_order:active{
    box-shadow: 0 0 10px rgba(86,148,255,0.45);
    color: blue;

}
.btn_order:focus {
    box-shadow: 0 0 10px rgba(86,148,255,0.45), 0 0 40px rgba(86,148,255,0.45);
}

.banner_two>p:first-child{
    color: #3690d0;
    font-size: 30px;
    font-weight: bolder;

}
.banner_two>p:nth-child(2){
    color: #3690d0;
    margin-bottom: 15px;
}
.banner_two>p:nth-child(3){
    color: grey;
    text-decoration: line-through;
}
.banner_two>p:last-child{
    color: grey;
    font-size: 12px;
    line-height: normal;
}
.icon{
    background: url(./img/arrow-aI.png) no-repeat 50%;
    background-size: cover;
    display: block;
    font-size: 10px;
    height: 8.8em;
    left: -7px;
    margin-top: -4.4em;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    width: 8.8em;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes arrow {

    50%{
        left: 30px;
    }
    100%{
        left: -7px;
    }
}


.input{
    display: none;
}

.fake_question{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid  red;
    position: relative;
    top: 1px;
    margin-right: 10px;
    background-color: red;
    cursor: pointer;
}
.fake_question::after{
    content: '?';
    position: absolute;
    display: block;
    right: 3px;
    top: -1px;
    color: #ebf5ff;

}
.fake{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid  rgba(86,148,255,0.45);
    position: relative;
    top: 5px;
    margin-right: 10px;

}
.fake::before{
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.2s;

}
.input:checked + .fake::before{
    opacity: 1;
}
.input:checked + .fake {
    border: 1px solid blue;
}
.label_radio{
    padding: 15px 0 10px 10px;
    border: 2px solid  rgba(86,148,255,0.45);
    width: 200px;
    border-radius: 3px;
    cursor: pointer;
    line-height: 20px;

}
.active{
    border: 2px solid blue;
}

.label_radio:active {
    border: 2px solid darkblue;
}
.container_radio{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.subtext{
    padding-left: 33px;
    color: grey;
}

.container_two{
    background-color: #ebf5ff;
    margin: 0 -15px -15px;
    padding: 15px;
}

.container_two > ul{
    display: flex;
   list-style-type: none;
    justify-content: space-around;
}
.change_eyes{
    text-align: center;
    margin-bottom: 15px;

}
.change_eyes>label{
    cursor: pointer;
}
.change_eyes >input{
    margin-right:2px;
    cursor: pointer;
}

.row >p{
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: bolder;
}

.row >div {
    margin-bottom: 25px;
}
.row_p >p{
    margin-bottom: 42px;
}

select{
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid rgba(86,148,255,0.45);
    border-radius: 3px;
    background: white;

    /*background-size: 2em 2em;*/
    /*background-position: right -3px center;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*outline: none;*/

    padding: 0 .5em;
    flex: 1;
    cursor: pointer;
    font-size: 1em;


}


.select{
    /*display: inline-flex;*/
    /*min-height: 2.75rem;*/
    /*width: 100%;*/
    position: relative;
    display: flex;
    width: 10em;
    min-height: 2.75rem;
    line-height: 3;
    overflow: hidden;
    border-radius: 3px;

}

.select::after{
    content: '\25BC' ;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: rgba(49,157,169,0.06);
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease ;
    color: rgba(86,148,255,0.45);
}
.select:hover::after{
    color: blue;
}
.btn_container{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 10px 20px;
}
.container_cost{
   line-height: 30px;
    text-transform: uppercase;
    color: #3690d0;
}
.container_cost>p:last-of-type{
    color: red;
}
.btn {
    position: relative;
    color: #3690d0;
    display: flex;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 15px 30px;
    overflow: hidden;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 3px;
    background: rgba(49,157,169,0.06);
    justify-content: end;
}

.btn:hover,
.btn:active{
    box-shadow: 0 0 10px rgba(86,148,255,0.45);
    color: blue;

}
.btn:focus {
    box-shadow: 0 0 10px rgba(86,148,255,0.45), 0 0 40px rgba(86,148,255,0.45);
}

.btn_line{
    position: absolute;
    display: block;
}

.btn_line--top{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgba(86,148,255,0.45)) ;

}
.btn:hover .btn_line--top{
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.btn_line--bottom{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgba(86,148,255,0.45)) ;

}
.btn:hover .btn_line--bottom{
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.btn_line--left{
    bottom: -100%;
    left: 0;
    width:2px;
    height: 100%;
    background: linear-gradient(0deg,transparent,rgba(86,148,255,0.45)) ;

}
.btn:hover .btn_line--left{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0s;
}

.btn_line--right{
    top:  -100%;
    right: 0;
    width: 2px ;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgba(86,148,255,0.45)) ;

}
.btn:hover .btn_line--right{
    top: 100%;
    transition: 1s;
    transition-delay: 0s;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: auto;
    transition: all 0.5s ease 0s;
}
.popup.open{
    opacity: 1;
    visibility: visible;
}

.popup_body{
    min-height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup_content{
    background-color: white;
    color: black;
    max-width: 500px;
    border: 3px solid rgba(86,148,255,0.45);
    border-radius: 3px;
    line-height: 1.5em;
    padding: 20px
}
.button{
    border: none;
    border-radius: 50%;
    color: grey;
    background-color: grey;
    cursor: pointer;
    font-size: 17px;
    height: 20px;
    width: 20px;
    line-height: 14px;
    position: relative;
    text-decoration: none;
    left: 480px;
    top: -8px;
}
.button::after{
    content: '\2716';
    position: absolute;
    display: block;
    right: 3px;
    top: 4px;
    color: #ebf5ff;
}
h2::before{
    background: url(./img/arrow-aI.png) no-repeat 50%;
    background-size: cover;
    content: "";
    display: inline-block;
    height: 1.6em;
    margin-right: .2em;
    position: relative;
    top: .5em;
    width: 1.6em;

}
.text >h2 {
    color: #e00;
    display: block;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}






@media (max-width: 795px) {
    .arrow_container{
        display: inline-block;
    }
    .banner_one{
        margin-left: 60px;
        margin-bottom: 20px;
    }
    .banner_two{
        margin-left: 60px;
    }
    .btn_order {
        right: -200px;
        font-size: 20px;
    }
    .icon {
        top: 25%;
        font-size: 8px;
    }
    .container_radio{
        display: inline-block;
        width: 100%;

    }
    .label_radio {
        width: 98%;
        margin-bottom: 10px;
    }

    .container_two{
      width: 100%;
        padding-top: 25px;
    }

    .container_two > ul{
        display: block;
    }

    .row_p{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .row_p >p {
        margin-bottom: 25px;
        font-size: 20px;
    }
    .row >p {
        margin-top: 12px;
        font-size: 20px;
    }
    .row{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .select.bc{
        margin-left: 50px;
    }
    .row_p.dia>p{
        position: relative;
        left: -50px;
    }
    .row_p.dia>p:nth-child(2){
        margin-right: 20px
    }
    .row_p.dia>p:last-child{
        margin-right: -50px;
    }

    .btn_container{
        display: block;
        width: 100%;
    }

    .container_cost{
        line-height: 45px;
        text-transform: uppercase;
        color: #3690d0;
        font-size: 25px;
    }
    .change_eyes>label{
        font-size: 25px;
    }
    .change_eyes{
        margin-bottom: 25px;
    }
    #both_eyes{
        transform:scale(1.7);
        opacity:0.9;
        margin-right: 10px;
    }
    .btn {
        width: 93%;
        display: block;

    }
}

@media (max-width: 615px) {
    .btn_order {
        right: -150px;

    }
    .banner_one{
        margin-left: 20px;

    }
    .banner_two{
        margin-left: 20px;
    }

    .icon{
        left: 10px;
        animation-name: none;
    }
    .container_cost{
        line-height: 35px;
        font-size: 20px;
    }
    .change_eyes>label{
        font-size: 20px;
    }
    .row_p >p {
        font-size: 15px;
    }
    .row >p {

        font-size: 15px;
    }
    .select.bc{
        margin-left: 35px;
    }
    .row_p.dia>p:first-child{
        margin-right: 20px
    }
    .btn {
        width: 91%;
    }


}

@media (max-width: 520px) {
.banner{
    font-size: 22px;
    line-height: 30px;
}

    .icon {
        font-size: 7px;
        top: 20%;

    }
    .banner_two>p:first-child {
        font-size: 22px;
    }
    .btn_order {
        right: -120px;
        font-size: 12px;
    }
    .change_eyes>label {
        font-size: 15px;
    }
    #both_eyes{
        transform:scale(1.3);
        margin-right: 5px;
    }
    .container_cost{
        line-height: 30px;
        font-size: 15px;
    }
    .row_p >p {
        font-size: 12px;
    }
    .row >p {

        font-size: 12px;
    }
    .select.bc{
        margin-left: 27px;
    }
    .btn {
        width:88%;

        font-size: 18px;

    }

}



@media (max-width: 503px) {
    .row_p.dia>p:first-child{
        margin-left: 5px
    }
}
@media (max-width: 460px) {
    .row_p.dia>p:first-child{
        margin-left: 20px
    }
}
@media (max-width: 380px) {
    .row_p.dia>p:first-child{
        margin-left: 30px
    }
}

